<html>
    <head>
        <title></title>
    </head>
    <body>
        <form action="{{ url_for('post_message') }}" method="POST">
            <label for="currency">Choose curency:</label>
            <select id="currency">
            {% for currency in code %}
                <option value="{{ currency }}">{{ currency }}</option>
            {% endfor %}
            </select>
            <label for="amount">Amount:</label>
            <input type="text" name="amount" placeholder="amount" id="amount">
            <input type="submit" value="Convert to PLN">
        </form>
    </body>
</html>
 